 ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     overflow: hidden;
     background-color: black;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 500;
 }

 li {
     float: left;

 }

 li a {
     display: block;
     padding: 15px;
     color: white;
     text-decoration: underline;
     border-right: 1px solid;
 }

 li a:hover {
     color: white;
     background-color: #333;
 }

 li a:active {
     color: #333;
     background-color: white;
 }

 #about-text,
 #portfolio-text,
 #contact-text {
     padding-top: 50px;
     margin-top: -50px;
 }

 body {
     background-image: url(https://goo.gl/rQEc1N);
     background-attachment: fixed;
     background-size: cover;
 }

 h3,
 h2,
 p {
     color: black;
 }

 p {
     font-size: 20px;
     padding: 30px;
 }

 .button-size {
     width: 70px;
     margin: 15px;
 }

 img {
     height: 200px;
     width: 300px;
     margin-right: 20px;
     margin-left: 20px;
 }


 #twitter-button:hover,
 #facebook-button:hover,
 #github-button:hover,
 #freecodecamp-button:hover,
 #codepen-button:hover {
     background-color: black;
     color: #F57C00;
 }

 h2,
 h3 {
     font-family: 'Open Sans Condensed';
 }

 a.active {
     color: #333;
     background-color: white;
 }
